= render 'shared/header'
-# - breadcrumb :credit_confirmation
= render "shared/breadcrumbs"
= render 'shared/exhibitation'
.container
  .left_contents
    = render partial: 'shared/navigations'
  .right_contents
    .credit_title
      支払い方法
    .credit_body
      .credit_box
        クレジットカード一覧
        %br
        %br
        = image_tag asset_path('amex.png'), class: "creditpic"
        %button.delete_credit{:type => "submit"}削除する
        %br
      .credit_info
        ***********
        =@card.number.slice(12..16)
        %br
        =@card.expiration_date.strftime("%m/%y")
      .method
        支払い方法について
        %i.fas.fa-chevron-right
        

= render 'shared/footer'



