.signup-header
  .signup-header__block
  .signup-header__area
    .signup-header__area__logo
    .signup-header__area__figure
      .signup-header__area__figure__infomation
        .signup-header__area__figure__infomation__title
          会員情報
        .signup-header__area__figure__infomation__under
          .signup-header__area__figure__infomation__under__dot
          .signup-header__area__figure__infomation__under__bar-sms

      .signup-header__area__figure__sms
        .signup-header__area__figure__sms__title
          電話番号認証
        .signup-header__area__figure__sms__under
          .signup-header__area__figure__sms__under__dot-sms
          .signup-header__area__figure__sms__under__bar-address

      .signup-header__area__figure__address
        .signup-header__area__figure__address__title
          お届け先住所
        .signup-header__area__figure__address__under
          .signup-header__area__figure__address__under__dot-address
          .signup-header__area__figure__address__under__bar-payment

      .signup-header__area__figure__payment
        .signup-header__area__figure__payment__title-payment
          支払い方法
        .signup-header__area__figure__payment__under
          .signup-header__area__figure__payment__under__dot-payment
          .signup-header__area__figure__payment__under__bar
      .signup-header__area__figure__complete
        .signup-header__area__figure__complete__title
          完了
        .signup-header__area__figure__complete__under
          .signup-header__area__figure__complete__under__dot



.payment
  .payment__areaup
    .payment__areaup__logo
      クレジットカード情報入力
  .payment__areadown
    .payment__areadown__form
      = form_with model: @user do |f|
        .field
          = f.label :カード番号,class: 'title'
          = f.label :必須,class: 'need'
          %br/
          = f.text_field :cardnumber,placeholder: "半角数字のみ" ,class: 'forms'
          .cards

        
          = f.label :有効期限,class: 'title'
          = f.label :必須,class: 'need'
          .pulldown
            = f.select :prefectures, [["01", "01"], ["02", "02"],  ["03", "03"], ["04", "04"],["05", "05"] ,["06", "06"],["07", "07"],["08", "08"],["09", "09"],["10", "10"],["11", "11"],["12", "12"]]
            .pulldown__month
              月
            = f.select :prefectures, [["19", "19"], ["20", "20"],  ["21", "21"], ["22", "22"],["23", "23"] ,["24", "24"],["25", "25"],["26", "26"],["27", "27"],["28", "28"],["29", "29"]]
            .pulldown__year
              年
          
          .field
          = f.label :セキュリティコード,class: 'title'
          = f.label :必須,class: 'need'
          %br/
          = f.text_field :securitycord,placeholder: "カード裏面の4桁もしくは３桁の数字" ,class: 'forms'
          .question
            =link_to "", class: "question" do
              = icon("far", "question-circle",class:"question")
              カード裏面の番号とは？

          .actions
          = f.submit "次へ進む",class:'next_submit'

= render 'shared/sign_up_footer'
