.signup-header
  .signup-header__block
  .signup-header__area
    .signup-header__area__logo
    .signup-header__area__figure
      .signup-header__area__figure__information
        .signup-header__area__figure__information__title
          会員情報
        .signup-header__area__figure__information__under
          .signup-header__area__figure__information__under__dot
          .signup-header__area__figure__information__under__bar-sms

      .signup-header__area__figure__sms
        .signup-header__area__figure__sms__title
          電話番号認証
        .signup-header__area__figure__sms__under
          .signup-header__area__figure__sms__under__dot-sms
          .signup-header__area__figure__sms__under__bar-address

      .signup-header__area__figure__address
        .signup-header__area__figure__address__title
          お届け先住所
        .signup-header__area__figure__address__under
          .signup-header__area__figure__address__under__dot-address
          .signup-header__area__figure__address__under__bar-payment

      .signup-header__area__figure__payment
        .signup-header__area__figure__payment__title-payment
          支払い方法
        .signup-header__area__figure__payment__under
          .signup-header__area__figure__payment__under__dot-payment
          .signup-header__area__figure__payment__under__bar
      .signup-header__area__figure__complete
        .signup-header__area__figure__complete__title
          完了
        .signup-header__area__figure__complete__under
          .signup-header__area__figure__complete__under__dot

.payment
  .payment__areaup
    .payment__areaup__logo
      クレジットカード情報入力
  .payment__areadown
    - if @messages
      - @messages.each do |message|
        %p
          = message
    .payment__areadown__form
      = form_with model: @card, url: users_complete_path, local: true do |f|
        .field
          = f.label :number, 'カード番号', class: 'title'
          = f.label :必須, class: 'need'
          %br/
          = f.text_field :number, placeholder: "半角数字のみ", class: 'forms'
          .cards
          = f.label :expiration_date, '有効期限', class: 'title'
          = f.label :必須, class: 'need'
          .pulldown
            = raw sprintf(f.date_select(:expiration_date, prompt: '--', start_year: Time.now.year, end_year: Time.now.year + 15, use_two_digit_numbers: true, discard_day: true, order: [:month, :year], date_separator: '%s'), '月')
            年
          .field
          = f.label :security_code, 'セキュリティコード', class: 'title'
          = f.label :必須, class: 'need'
          %br/
          = f.text_field :security_code, placeholder: "カード裏面の4桁もしくは３桁の数字", class: 'forms'
          .question
            =link_to "", class: "question" do
              = icon("far", "question-circle", class: "question")
              カード裏面の番号とは？

          .actions
          = f.submit "次へ進む", class: 'next_submit'

= render 'shared/sign_up_footer'
