= render 'shared/header'
- breadcrumb :sign_out
= render "shared/breadcrumbs"
= render 'shared/exhibitation'
.testtest
  .left_contents
    = render partial: 'shared/navigations'
  .back-box
    = link_to 'ログアウト', "/users/sign_out", method: :delete, class: :logout, name: :bye
= render 'shared/footer'

