.header
  .header__top
    .header__top__contents
      =link_to root_path,class: "logo" do
        .header__top__contents__logo
      .header__top__contents__icons
        .header__top__contents__icons__bell
          =link_to "", class: "menu" do
            = icon("far", "bell",class:"bell")
        .header__top__contents__icons__check
          =link_to "", class: "menu" do
            = icon("fas", "check",class:"check")
        .header__top__contents__icons__mypage
          =link_to "", class: "menu" do
            .header__top__contents__icons__mypage__thumbnail
    .header__top__search
      = search_form_for @search, url: search_products_path ,html: { method: :post } do |f|
        .field
          = f.search_field :name_cont,placeholder: "何かお探しですか？" ,class: 'search'
          = f.submit "",class:'submit', name: nil
          = icon("far", "search",class:"search-icon")
  .header__bottom
    .header__bottom__category
      =link_to "", class: "menu" do
        = icon("fas", "list-ul",class:"list")
        カテゴリーから探す
    .header__bottom__brand
      =link_to "", class: "menu" do
        = icon("fas", "tag",class:"tag")
        ブランドから探す
    .header__bottom__iine
      =link_to "", class: "menu" do
        = icon("far", "heart",class:"heart")
        いいね！一覧
    .header__bottom__news
      =link_to "", class: "menu" do
        = icon("far", "bell",class:"bell")
        お知らせ
    .header__bottom__todo
      .header__bottom__todo__icon
        =link_to "", class: "menu" do
          = icon("fas", "check",class:"check")
      .header__bottom__todo__text
        =link_to "", class: "menu" do
          やることリスト
    .header__bottom__mypage
      =link_to "", class: "menu" do
        .header__bottom__mypage__thumbnail
      =link_to "", class: "menu" do
        .header__bottom__mypage__user
          マイページ