.all
  .log_in
    =link_to root_path do
      =image_tag asset_path("mercari_logo.svg"), class: "log_in__logo"

    .boxtop
      %p.boxtop__NoAccount アカウントをお持ちでない方はこちら
      .boxtop__NewRegistration
        = link_to "新規会員登録", users_information_path, style: "color: white"
    .boxbottom
      .boxbottom__FacebookRegistration
        = image_tag asset_path('flogo.png'), class: "boxbottom__FacebookRegistration__flogo"
        = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, style: "color: white;"
      .boxbottom__GoogleRegistration
        -# %img{src: "/assets/google.svg", class: "glogo"}
        = image_tag asset_path('google.svg'), class: "glogo"
        = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, style: "color: black;"

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .fontcolor
          = flash[:notice]
          = flash[:alert] 


        -# = render "devise/shared/error_messages"
        .field
          = f.email_field :email, autofocus: true, autocomplete: :email, placeholder: "メールアドレス"
          %br

        .field
          = f.password_field :password, autocomplete: :password, placeholder: "パスワード"
          =image_tag asset_path("robot.png"), class: "boxbottom__robot"
        .actions
          = f.submit "ログイン", class: "boxbottom__login_button"
          -# = link_to "ログイン", user_session_path, method: :post, class: "boxbottom__login_button"
      = render "devise/shared/links"

    -# .g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "ここにサイトキーをいれる"}

    #nav
      %ul.infos
        %li
          %a{href: "#", class: "infos__info"}プライバシーポリシー　　
        %li
          %a{href: "#", class: "infos__info"}メルカリ利用規約　　
        %li
          %a{href: "#", class: "infos__info"}特定商取引に関する表記

      %div.LogoGray= image_tag asset_path('logo-gray.svg')
    %p.copyright (c) 2019 Mercari