= render 'shared/header'
= render 'shared/exhibitation'
.contents
  .contents__slideshow
  .contents__pickup
    .contents__pickup__logo
      ピックアップカテゴリー
    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          レディース 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
   
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る

    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          メンズ 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る
    
    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          ベビー・キッズ 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る

    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          コスメ・香水・美容 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る

  .contents__pickup
    .contents__pickup__logo
      ピックアップブランド
    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          シャネル 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る

    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          ルイビトン 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る
    
    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          シュプリーム 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る

    .contents__pickup__items__box
      .contents__pickup__items__box__title
        =link_to "", class: "item" do
          ナイキ 新着アイテム
      .contents__pickup__items__box__contents
        - @products.each do |product|  
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .contents__pickup__items__box__contents__card
              .contents__pickup__items__box__contents__card__thumbnail
                = image_tag product.images.first.image.url, size: '213x218'
              .contents__pickup__items__box__contents__card__title
                = product.name
              .contents__pickup__items__box__contents__card__footer
                .contents__pickup__items__box__contents__card__footer__price
                  ¥
                  = product.price
                .contents__pickup__items__box__contents__card__footer__iine
                  = icon("far", "heart",class:"heart")
                  15F
      .contents__pickup__items__box__more
        =link_to "", class: "item" do
          すべての商品を見る
= render 'shared/footer'