.product_input
  %noscript
    %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
  .exhibition-wrap
    %header.exhibition-header
      %h1
        %a= image_tag asset_path('logo.svg?863303983')
    %main.exhibition-main
      %section.l-exhibition-container
        #sell-container
          %div{"data-reactroot" => ""}
            .sell-container-inner
              %h2.sell-container-inner__head 商品の情報を入力
              = form_with model: @product, class:'sell-form sell-container-inner__form',local: true do |form|
                .sell-upload-box
                  %h3.sell-upload-box__head
                    出品画像
                    %span.form-require 必須
                  %p 最大10枚までアップロードできます
                  .sell-upload-box__container.clearfix.state-image-number-10
                    .upload-items
                      .upload-items__box.have-item-0
                        %ul
                    .upload-items-drop-box.have-item-0
                      = form.fields_for :images do |i|
                        = i.label :image
                        = i.file_field :image,class:'upload-items-drop-box__file'
                        %pre.upload-items-drop-box__drop
                          :preserve
                            ドラッグアンドドロップ
                            またはクリックしてファイルをアップロード
                        %i.upload-items-drop-box__icon
                .sell-content
                  .sell-content__form--top.form-group
                    %label
                      商品名
                      %span.form-require 必須
                    %div
                      //商品名の入力フォーム
                      = form.text_field :name,class:"input-default",placeholder:"商品名（必須 40文字まで)"
                  .sell-content__form--bottom.form-group
                    %label
                      商品の説明
                      %span.form-require 必須
                    //商品詳細のフォーム
                    = form.text_area :detail,class:"textarea-default textarea-detail",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",rows: 5
                .sell-content.clearfix
                  %h3.sell-content__head.sell-sub-head 商品の詳細
                  .sell-content__form.sell-form-box
                    .form-group
                      %label
                        カテゴリー
                        %span.form-require 必須
                      %div
                        .select-wrap
                          %i.fas.fa-chevron-down
                          = form.collection_select :category_id, Category.all, :id, :name,class:"select-default"
                    .form-group
                      %label
                        商品の状態
                        %span.form-require 必須
                      %div
                        .select-wrap
                          %i.fas.fa-chevron-down
                          = form.collection_select :condition_id, Condition.all, :id, :name,class:"select-wrap"
                .sell-content.clearfix
                  %h3.sell-content__head.sell-sub-head 配送について
                  %a.sell-content__form.form-question{:href => "/jp/help_center/article/68/", :target => "_blank"} ?
                  .sell-form-box
                    .form-group
                      %label
                        配送料の負担
                        %span.form-require 必須
                      .select-wrap
                        %i.fas.fa-chevron-down
                        = form.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name,class:"select-default"
                    .form-group
                      %label
                        発送元の地域
                        %span.form-require 必須
                      .select-wrap
                        %i.fas.fa-chevron-down
                        = form.collection_select :prefecture_from_id, PrefectureFrom.all, :id, :name,class:"select-default"
                    .form-group
                      %label
                        発送までの日数
                        %span.form-require 必須
                      .select-wrap
                        %i.fas.fa-chevron-down
                        = form.collection_select :shipping_days_id, ShippingDays.all, :id, :name,class:"select-default"
                .sell-content.clearfix
                  %h3.sell-content__head.sell-sub-head 販売価格(300〜9,999,999)
                  %a.sell-content__form.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                  .sell-form-box
                    %ul.sell-form-box__price
                      %li.form-group
                        .clearfix
                          %label.l-left
                            価格
                            %span.form-require 必須
                          .l-right.sell-price-input
                            %span.yen ¥
                            %span.price-box
                              = form.number_field :price,class:"input-default",placeholder:"例）300"
                      %li.clearfix
                        .l-left
                          販売手数料 (10%)
                        .l-right -
                      %li.clearfix.bold
                        .l-left 販売利益
                        .l-right -
                .modal{:role => "dialog", :tabindex => "-1"}
                  .modal-inner
                .sell-content.sell-btn-box
                  %div
                    %p
                      %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品
                      、
                      %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
                      を必ずご確認ください。
                    %p
                      またブランド品でシリアルナンバー等がある場合はご記載ください。
                      %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
                      は犯罪であり処罰される可能性があります。
                    %p
                      また、出品をもちまして
                      %a{:href => "/jp/seller_terms/"} 加盟店規約
                      に同意したことになります。
                  %div
                    = form.submit "出品する", class:"btn-default btn-red"
                  %a.btn-default.btn-gray もどる
              
              .overlay
    %footer.exhibition-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo
        %div.LogoGray= image_tag asset_path('logo-gray.svg')
      %p
        %small © 2019 Mercari