= render 'shared/header'
= render 'shared/exhibitation'
.wrapper1
  %section.item-container1
    %h1.item-container1__item-name 
      = @product.name
    .item-container1__item-content.clearfix
      .content--photo 
        .content--photo-up
          = image_tag @product.images.first.image.url, size: "300x300", class:"mainimage img01"
        %ul.subimage.img01
          - @product.images.each do |image|
            %li.picture
              = image_tag image.image.url, size: "60x60", class:"boxshow"
      %table.content--detail-table
        %tbody.table
          %tr.table--section
            %th.table--section-left 出品者
            %th.table--section-right-blue 
              = link_to "#{@product.user.nickname}", users_mypage_path, method: :get,class:"blue"
              = image_tag asset_path('sampleicon.png'), size: "130x25"
          %tr.table--section
            %th.table--section-left カテゴリー
            %th.table--section-right-blue 
              = link_to '#',class:"blue" do
                - parent=@product.category.path_ids[0].to_i
                = @category.find(parent).name
              %br  
              = link_to '#',class:"blue" do
                %i.fas.fa-angle-right 
                - child=@product.category.path_ids[1].to_i
                = @category.find(child).name 
                 
              %br 
              = link_to '#',class:"blue" do
                %i.fas.fa-angle-right 
                - grandchild=@product.category.path_ids[2].to_i
                = @category.find(grandchild).name
                 
          //params[:id]で取得したidの商品に対してcategory子、孫も表示するために記載//
          %tr.table--section
            %th.table--section-left ブランド
            %th.table--section-right-blue 
              = @product.brand
              = link_to '',class: "table--section-right-blue "
          %tr.table--section
            %th.table--section-left 商品状態
            %th.table--section-right 
              = @product.condition.name
          %tr.table--section
            %th.table--section-left 配送料負担
            %th.table--section-right 
              = @product.delivery_fee.name
          %tr.table--section
            %th.table--section-left 配送方法
            %th.table--section-right 
              = @product.shipping_method.name
          %tr.table--section
            %th.table--section-left 配送元
            %th.table--section-right-blue 
              = @product.prefecture_from.name
          %tr.table--section
            %th.table--section-left 配送日目安
            %th.table--section-right
              = @product.shipping_days.name
        // 上記 brand,categoryからクリックすると本物のメルカリではcategory show pageに遷移するが今の時点では割愛する//     
    .item-container1__item-price
      .test
        %span.item-container1__item-price-bold  ¥
        = @product.price.to_s(:delimited)
        %span.item-container1__item-price-tax (税込)
        %span.item-container1__item-price-shipping-fee 送料込み
    - unless user_signed_in? && @product.user.id == current_user.id
      = link_to " 購入画面に進む", new_product_purchase_path(@product.id),  class:"item-container1__item-buy-btn"
    .item-container1__item-description 
      %p.item-description-inner
        = @product.detail

    - unless user_signed_in? && @product.user.id == current_user.id
      .item-container1__item-other-btn.clearfix
        .link_btn_left
          %button.item-other-btn-left 
            %i.fa.fa-heart いいね！
          %button#btn.item-other-btn-left  不適切な商品の勧告
        .link_btn_right
          %i.fa.fa-lock 
          = link_to 'あんしん・あんぜんへの取り組み', root_path, class: 'item-other-btn-right'

  - if user_signed_in? && @product.user.id == current_user.id
    %section.item-container1
      = link_to "商品の編集", '#', class: "item-container1__item-edit-btn"
      or
      = link_to "出品を一旦停止する", '#', class: "item-container1__item-suspend-btn"
      = link_to "この商品を削除する", product_path(@product.id), method: :delete, class: "item-container1__item-delete-btn"

  .item-detail-message
    .message-container
      .message-content
        %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "c55239470129d9454965bb6e795b3c51b1a2c574b8adf51df04606f58bd8d41724a694229487bce3caa8a08b5537a8923c9f042e751656ccf095b59342b60d381"}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{:name => "item_id", :type => "hidden", :value => "m42713469142"}/
          %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
          %button.message-submit.btn-default.btn-gray{:type => "submit"}
            %span コメントする
  %ul.item-nav.clearfix
    %li.item-nav__link
      = link_to '< Preview product', product_path(@product.previous), class: 'item-nav__link-prev' unless @product.id == @first_product.id
      = link_to 'Next product >', product_path(@product.next), class: 'item-nav__link-next' unless @product.id == @last_product.id
 
  .sns
    %ul.sns--icon
      %i.fab.fa-facebook-square
      %i.fab.fa-twitter-square
      %i.fab.fa-line
      %i.fab.fa-pinterest-square
  .item-others
    - unless @other_products.blank?
      %section.item-others--seller
        %h2.item-others-seller-name 
          = @product.user.nickname 
          さんのその他の商品
        .item-others--seller_product
          - @product.user.products.each do |product_other|
            - unless product_other.id == @product.id
              = link_to product_path(product_other.id),class: "contents__pickup__items__box__contents__link" do
                .items-box
                  .items-box_photo
                    = image_tag("#{product_other.images.first.image.url}", size: "220x220")
                  .items-box_body
                    %h3.items-box-name
                      =product_other.name
                    .items-box-num
                      .items-box-price ￥
                      =product_other.price.to_s(:delimited, delimiter: ',')
                      .items-box-icon
                        %i.fa.fa-heart
                        1

    - unless @same_category_products.blank?
      %section.item-others--product
        %h2.item-others--product__category-name
          =@product.category.name
          その他の商品
        .item-others--product__content
        - @same_category_products.each do |product|
          = link_to product_path(product.id),class: "contents__pickup__items__box__contents__link" do
            .items-box
              .items-box_photo=image_tag("#{product.images.first.image.url}", size: "220x220")
              .items-box_body
                %h3.items-box-name
                  = product.name
                .items-box-num
                  .items-box-price ￥
                  = product.price.to_s(:delimited, delimiter: ',')
                  .items-box-icon
                    %i.fa.fa-heart
                    2
        
= render 'shared/footer'

// 下の記述は[不適切な商品の勧告]をクリックした時にmodalを表示させる

#modal.modal
  .modal-content
    .modal-body
      .modal-head.bold 確認
      %h1 不適切な商品を報告しますか？
    .modalbtnbox
      %button#closeBtn.modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
      %button.modal-btn.modal-btn-submit はい  