!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.0.13/css/solid.css", integrity: "sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css", integrity: "sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV", rel: "stylesheet"}/
    %title FreemarketSample56c
    = csrf_meta_tags
    = csp_meta_tag
    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://kit.fontawesome.com/de8b84b2c4.js"}
  %body
    
    = yield
 
   
